<script type="text/javascript">
    function controlButtonBehaviour() {
        if(document.getElementById("imageUrl").value === "") {
            document.getElementById('purge-button').disabled = true;
        } else {
            document.getElementById('purge-button').disabled = false;
        }
    }
</script>
<f:flashMessages />

<h2><f:translate id="PurgeImgixCacheController.headline" extensionName="imgix" /></h2>
<f:form method="post" action="purgeImgixCache">
    <div class="form-group" style="max-width: 800px;">
        <label for="imageUrl"><f:translate id="PurgeImgixCacheController.imageUrlLabel" extensionName="imgix" /></label>
        <f:form.textfield
                id="imageUrl"
                name="imageUrl"
                additionalAttributes="{class: 'form-control', onchange: 'controlButtonBehaviour()', onkeyup: 'controlButtonBehaviour()'}"/>
    </div>
    <div class="help-block">
        <f:form.submit
                id="purge-button"
                value="{f:translate(id:'PurgeImgixCacheController.button',extensionName:'imgix')}"
                additionalAttributes="{class: 'btn btn-default', disabled: 'disabled'}"/>
    </div>
</f:form>
